@using Quiron.LojaVirtual.HtmlHelpers
@model Quiron.LojaVirtual.Web.ViewModels.VitrineViewModel

@{
    ViewBag.Title = "VitrineListaProdutoViewModel";
}

@foreach (var p in Model.Produtos)
{
    <div class="well">
        @p.Nome
        @p.Descricao
        @p.Preco.ToString("c")
    </div>
}

@Html.LinksDaPagina(Model.Paginacao, x => Url.Action("VitrineListaProdutoViewModel", new { pagina = x }))