
@{
    ViewBag.Title = "Index";
}

<h2>Index - Quiron Loja Virtual</h2>




        <div class="col-md-2">
            @Html.ActionLink("Produtos", "Index", "Produto")
            <br>
            @Html.ActionLink("Vitrine Produtos", "VitrineListaDeProdutos", "Vitrine")
        </div>

        <div class="col-md-10">Conteúdo</div>

